body
{
	font-family: Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	margin: 0;
}

#wrapper
{
	padding: 1em 0;
}

.header
{
	text-align: center;
}

.header h1
{
	display: inline;
	font-size: 96px;
}

.mayomayo:after
{
	content: "";
	display: block;
	height: 64px;
	width: 100%;
	background: url(https://cdn.discordapp.com/emojis/550297430164504576.png);
	background-size: contain;
}

.club
{
		color: #FFFFFF;
		border: solid 2px #16BAC5;
		display: inline-block;
		background-color: #5FBFF9;
		margin: 2px;
		padding: 2px;
		text-align: left;
}

.filter-list
{
	text-align: center;
}

.filter-list .club
{
	cursor: pointer;
	user-select: none;
}

.filter-selected
{
	opacity: 0.7;
}

.member-list
{
	text-align: center;
}

.member-list-box
{
	vertical-align: top;
	display: inline-block;
	width: 26%;
	height: auto;
	background-color: #FAD1D6;
	border: solid 2px #E15894;
	padding: 0.5%;
	margin: 0.5%;
	animation-name: fadein;
	animation-duration: 2s;
}

.profile-image
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: solid 3px #870000;
}

@keyframes fadein
{
	from {
			opacity: 0;
			transform: translateY(-20px);
	}
	to {
			opacity: 1;
			transform: translateY(0);
	}
}

.profile
{
	text-align: left;
	width: auto;
	background-color: #fff2fe;
	margin-top: 1%;
	padding: 1%;
	border: solid 2px #E15894;
}

.profile > div
{
	padding: 3px;
}

.profile a
{
	color: blue;
}

h1
{
	text-align: center;
	font-family: 'Kosugi Maru', sans-serif;
}

.clubs
{
	margin: 2px 5px 3px;
	padding: 0;
	text-align: left;
}

.footer
{
	text-align: center;
	font-size: large;
	font-weight: bold;
	margin: 1em;
}

.hide
{
	display: none;
}